@charset "UTF-8";

body{
	margin: 0;
	align-items: stretch;
}

table{
	margin: 0 auto;
	margin-bottom: 30px;
	width: 800px;
	height: auto;
	border-collapse: collapse;
}

th{
	height: 50px;
	background-color: #FFDAB9;
	height: 40px;
}

td{
	text-align: center;
	border-bottom: 1px solid gray;
	height: 40px;
}

.td1{
	width: 10%
}

.td2{
	width: 20%
}

.title{
	text-align: left;
}

tr:hover {
	background-color: gray;
}

h1{
	text-align: center;
}

.btnBox{
	margin: 20px;
	text-align: center;
}

.btn{
	border-radius: 30px;
    border: 1px solid white;
	width: 80px;
    height: 40px;
    background-color: #FFDAB9;
    transition-duration: 0.4s;
}

.btn:hover {
	background-color: salmon;
	color: white;
	box-shadow: 10px 10px 10px rgb(254, 187, 42);
	transform: translateY(-0.2em);
}

.page{
	margin: 15px;
	text-align: center;
}

.page a{
	margin: 20px 0 10px 0;
	padding: 10px;
	text-decoration: none;
	color: black;
}

.page a:hover{ 
	color: white;
	background-color: #FFDAB9;
	transform: translateY(-0.2em);
}

strong {
	margin: 20px 0 10px 0;
	color: white;
	background-color: #FFDAB9;
}

.page img{
	width: 15px;
	height: 15px;
	vertical-align: bottom;
}
small{
	color: #FFDAB9;
	font-weight: bold;
	width: 50px;
	height: 50px;
}

