@charset "UTF-8";
body{
	margin: 0;
	align-items: stretch;
}

input {
	width: 300px;
    height: 20px;
}

.joinBox, h1 {
	text-align: center;
}

.joinBox {
	width: 500px;
	height: 800px;
	border: 1px solid balck;
	
}

.idBox{
	border-bottom: 2px solid #adadad;
	margin: 30px 30px 10px 30px;
  	padding: 10px 10px;
} 
.pwBox1 {
	border-bottom: 2px solid #adadad;
	margin: 10px 30px 30px 30px;
  	padding: 10px 10px;
}
.pwBox2, .nameBox, .addrBox, .MSGBos {
	border-bottom: 2px solid #adadad;
  	margin: 30px;
  	padding: 10px 10px;
}

.selectBox, .birthBox, .mbtiBox {
	margin: 30px;
  	padding: 10px 10px;
  	width: 50%px;
}

#id {
	border:none;
  	outline:none;
  	width: 80%;
  	height: 25px;
  	font-size:16px;
}


#pw1, #pw2, #name, #addr {
	border:none;
  	outline:none;
  	width: 100%;
  	height: 25px;
  	font-size:16px;
}

#mbti {
	border: 1px solid beige;
}

#birth{
  	margin: 0 30px 0 30px;
  	width: 100%;
  	font-size:16px;
}

.selectText, .birthText, .mbtiText {
	text-align: left;
	font-size:16px;
}

.selectBox #male, #female {
	display: inline-block;
	cursor: pointer;
	width: 30px;
  	margin: 0 30px 30px 30px;
  	padding: 10px 10px;
  	
}
}
.selectBox input[type=radio]+label{
	/* width: calc(100%-70px); */
    display: inline-block;
}

.btnBox1, .btnBox2 {
	margin: 30px;
	text-align: center;
}
.btnBox2 {
	float: right;
}

.Jbtn {
	border-radius: 30px;
	border: 1px solid white;
	width: 80px;
	height: 40px;
	background-color: #FFDAB9;
	transition-duration: 0.4s;
}

.Jbtn:hover {
	background-color: salmon;
	color: white;
	box-shadow: 10px 10px 10px rgb(254, 187, 42);
	transform: translateY(-0.2em);
}

.Cbtn {
	border-radius: 30px;
	border: 1px solid white;
	width: 80px;
	height: 40px;
	background-color: white;
}

.Cbtn:hover {
	background-color: black;
	color: white;
	transform: translateY(-0.2em);
}

#idCheck{
	border-radius: 10px;
	border: 1px solid white;
	width: 80px;
	height: 40px;
	float: right;
	transform: translateY(-0.5em);
}
#resultMSG{
    font-size: small;
}

