@charset "UTF-8";

.loginBox {
	margin: 0 auto;
	width: 200px;
	height: 300px;
	border: 1px solid black;
}

.IDbox, .PWbox, .butbox {
	margin: 15px;
}

.butbox {
	text-align: center;
	padding: 30px;
}
.loginbtn {
	width: 50%;
}

h1{
	text-align: center;
}

.joinBox{
	text-align: center;
	margin: 10px;
}
.join{
	text-decoration: none;
	padding: 10px;
}
