@charset "UTF-8";

body{
	margin: 0;
	align-items: stretch;
}

.loginBox {
	margin: 0 auto;
	width: 300px;
	height: 400px;
	border: 1px solid black;
}

.IDbox, .PWbox, .butbox {
	margin: 15px;
}

.butbox {
	text-align: center;
	padding: 30px;
}
.loginbtn {
	width: 50%;
}

h1, a{
	text-align: center;
}
a{
	font-size: small;
}

input {
	width: 200px;
    height: 20px;
}

.IDbox, .PWbox, .IDPWbox {
	text-align: center;
}

.joinBox{
	text-align: center;
	margin: 10px;
}
.join{
	text-decoration: none;
	padding: 10px;
	font-size: medium;
	
}