@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	align-items: stretch;
}

nav {
	top: 0;
	width: 100%;
	height: 50px;
	background-color: #FFDAB9;
	border-bottom: 1px solid #D2691E;
	align-items: stretch;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style: none; /* li앞에 원을 없애줍니다. */
	float: left;
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}

nav li:hover {
	background-color: #FFB400;
	color: white;
	font-weight: bold;
}

.mimg, .bimg, .qimg, .nimg {
	height: 38%;
	margin-right: 5px;
}

.qimg {
	height: 38%;
	margin: 0 5px 0 5px;
}

.greet{
	width: 10em;
}

.login .logout{
	margin: 0;
	text-align: right;
}
