@charset "UTF-8";

body{
	margin: 0;
	align-items: stretch;
}

.write-div{
	margin: 0 auto;
	width: 800px;
	height: auto;
	padding: 10px;
}

.write-div input{
	margin: 0; padding:0;
	width: 100%;
	height: 30px;
}
.write-div textarea {

}

.btn2Box{
	margin: 20px;
	text-align: center;
}
.btn2{
	border-radius: 30px;
	width: 70px;
    height: 30px;
    background-color: #FFDAB9;
    transition-duration: 0.4s;
}
.btn2:hover {
  background-color: black;
  color: white;
}

