<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.phyho.DTO.BoardDTO" alias="boardDTO"/>
		<typeAlias type="com.phyho.DTO.LoginDTO" alias="loginDTO"/>
		<typeAlias type="com.phyho.DTO.PageDTO" alias="pageDTO"/>
		
	</typeAliases>
</configuration>
